<form action="/course/create" method ="post">
   <p>
       <label>Course Name</label>
       <input value ="" name ="courseName" /><br/>
       <label>Course Duration</label>
       <input value ="" name ="courseDuration" /><br/>
       <label>Course Fee</label>
       <input value ="" name ="courseFee" />
       <button type="submit">SUBMIT</button>
   </p>
</form>